body {
    font-family: 'Titillium Web', sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-brand {
    padding:0;
}

#banner-text-container {
    max-width:940px
}

table#mumble-info th,
table#mumble-info td {
    padding:5px 10px 5px 0;
}